.task-content
    background-color: #dae6eb
    height: 100%
    width: 100%
.create-task
    padding: .75rem 1.25rem
    margin-bottom: -1px
    background-color: #fff
    border: 1px solid rgba(0,0,0,.125)
    box-shadow: inset 0 -6px 10px -8px rgba(0, 0, 0, 0.2)
    a
        margin-left: 10%
        text-decoration: none
        color: #000
        font-family: Lucida Sans, sans-serif
        line-height: 1.2rem
        border-bottom: 1px solid black
        text-shadow: 0px 4px 9px rgba(12, 12, 12, 0.3)

