<div class="create-form ">
    <form class="container column center" [formGroup]="CreateTaskForm" (ngSubmit)="onSubmit()">
      <label>
        Task name:
        <input type="text" formControlName="name">
      </label>
  
      <label>
        Description:
        <textarea type="text" rows="5" cols="30" formControlName="description"></textarea>
      </label>
  
      <label>
        Creation Date:
        <input type="date" formControlName="created_At">
      </label>
  
      <label>
        Deadline:
        <input type="date" formControlName="finished_At">
      </label>
  
      <label>
        State:
        <input type="number" min="0" formControlName="state">
      </label>

      <label>
        Project Id:
        <input type="number" min="0" formControlName="project_Id">
      </label>
  
      <label>
        Performer Id:
        <input type="number" min="0" formControlName="performer_Id">
      </label>
      <button type="submit" [disabled]="!CreateTaskForm.valid">Submit</button>
  
    </form>
  </div>
