<div class="project-content container column">
    <div class="create-project">
         <a  routerLink="create">Create new Project </a>
        </div>
    <app-projects-list></app-projects-list>    
</div>
