.list-item
    padding: .75rem 1.25rem
    margin-bottom: -1px
    background-color: #fff
    border: 1px solid rgba(0,0,0,.125)
    span
        margin-left: 10%
        align-self: center
        user-select: none
        &:hover
            cursor: pointer
    &:hover
        color: #495057
        background-color: #f8f9fa
        
.btn-edit
    outline: none
    display: inline-block
    cursor: pointer
    color: #6c757d
    border-color: #6c757d
    font-weight: 400
    text-align: center
    vertical-align: middle
    user-select: none
    background-color: transparent
    border: 1px solid 
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    border-radius: .25rem
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    &:hover
        color: #fff
        background-color: #6c757d
        border-color: #6c757d
    