<div class="project-element" *ngFor="let p of projects$ | async; let i = index">
  <div  class="list-item container row btw">
    <span (click)="details.hidden = !details.hidden">{{i+1}}. {{p.name}}</span>
    <button class="btn-edit" [routerLink]="['update',p.id]">edit</button>
  </div>
  <ul class="list-details" #details [hidden]="true">
    <li *ngFor="let kv of p | keyvalue">
      <span class="prop">{{kv.key}} :</span>
      <span class="value">{{kv.value}}</span>
    </li>
  </ul>
</div>
