label 
  display: block
  width: 200px
  height: auto
  margin: .5em 0
  color: #607D8B
  font-weight: bold

input 
  height: 2em
  font-size: 1em
  padding-left: .4em
  border-color: #607D8B
  border-radius: 6px

button 
  font-family: Arial
  background-color: #eee
  border: none
  padding: 5px 10px
  border-radius: 4px
  cursor: pointer
  &:disabled
      background-color: #fee
      color: #ccc
      cursor: auto
  &:hover
      background-color: #cfd8dc
.ng-invalid:not(form).ng-touched
    box-shadow: 0 0 5px 2px lightcoral


