/* You can add global styles to this file, and also import other style files */
html, body
    box-sizing: border-box
    height: 100%
    margin: 0

.container
    display: flex
    &.row
        flex-direction: row
        &.center
            justify-content: center
        &.left
            justify-content: flex-start
        &.right
            justify-content: flex-end
        &.btw
            justify-content: space-between
        &.ard
            justify-content: space-around
        &.evly
            justify-content: space-evenly

    &.column
        flex-direction: column
        &.center
            align-items: center

.container
    li
        list-style-type: none
        margin: 0 10px
.container
    .item1
        flex: 1
    .item2
        flex: 2
    .item3
        flex: 3
    .item4
        flex: 4
    .item5
        flex: 5
    .item6
        flex: 6
app-project,
app-task
    width:100%
    flex:1
       

    


