<div class="home-content container column center">
  <nav class="container row center">
    <ul class="container row btw">
      <li><a routerLink="projects">Projects</a></li>
      <li><a routerLink="tasks">Tasks</a></li>
      <li><a>Users</a></li>
      <li><a>Teams</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
