
nav
    background-color: #eee
    width: 100%
ul
    width:80%
    li
        display: inline-block
        padding: 10px
        background-color: #aaa
        border-radius: 4px
        &:hover
            background-color: #CFD8DC 
            cursor: pointer
            a
                color: #039be5

        a
            text-decoration: none
            color: #000
            
               

.home-content
    height: 100%