<div class="create-form ">
    <form class="container column center" [formGroup]="CreateProjectForm" (ngSubmit)="onSubmit()">
      <label>
        Project name:
        <input type="text" formControlName="name">
      </label>
  
      <label>
        Description:
        <textarea type="text" rows="5" cols="30" formControlName="description"></textarea>
      </label>
  
      <label>
        Creation Date:
        <input type="date" formControlName="created_At">
      </label>
  
      <label>
        Deadline:
        <input type="date" formControlName="deadline">
      </label>
  
      <label>
        Author Id:
        <input type="number" min="0" formControlName="author_Id">
      </label>
  
      <label>
        Team Id:
        <input type="number" min="0" formControlName="team_Id">
      </label>
      <button type="submit" [disabled]="!CreateProjectForm.valid">Submit</button>
  
    </form>
  </div>
